{% extends 'WarsztatyFilterBundle::layout.html.twig' %}

{% block title %}Nawilż swoje życie!{% endblock %}

{% block content_header '' %}

{% block content %}

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1 class="title">Witaj w świecie nawilżaczy!</h1>

            <p>Dzisiaj Twoje życie się odmieni! Nigdy więcej suchego powietrza, kurzu i alergii!</p>

            <p>Wybierz właściwości jakich oczekujesz od nawilżacza i poznaj nowego przyjaciela Twojego domu!</p>

        </div>
        <div class="container">
            <div class="row">

                <!-- begin filter -->
                <form class="filters" action="{{ path('warsztaty_filter_product_list') }}" method="get">
                    <div class="col-md-2">
                        <label for="surface">{{ getAttributesList[getAttributeMap['surface']]['name'] }}</label>
                        <select class="element select medium" id="surface" name="surface[]">
                            <option value="" selected="selected">wybierz...</option>
                            {% for item in getAttributesList[getAttributeMap['surface']]['values'] %}
                                <option value="{{ item.idValue }}">{{ item.value }}</option>
                            {% endfor %}
                        </select>

                        <label for="technology">{{ getAttributesList[getAttributeMap['technology']]['name'] }}</label>
                        <select class="element select medium" id="technology" name="technology[]">
                            <option value="" selected="selected">wybierz...</option>
                            {% for item in getAttributesList[getAttributeMap['technology']]['values'] %}
                                <option value="{{ item.idValue }}">{{ item.value }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-2">

                        <label>{{ getAttributesList[getAttributeMap['jons']]['name'] }}</label>
                        <input type="checkbox" name="jons[]" class="element checkbox medium" id="jons" value="{{ getAttributesList[getAttributeMap['jons']]['values'][0]['idValue'] }}">

                        <label>{{ getAttributesList[getAttributeMap['artherapy']]['name'] }}</label>
                        <input type="checkbox" name="aroma[]" class="element checkbox medium" id="aroma" value="{{ getAttributesList[getAttributeMap['artherapy']]['values'][0]['idValue'] }}">

                    </div>

                    <div class="col-md-2">

                        <label>{{ getAttributesList[getAttributeMap['warmfog']]['name'] }}</label>
                        <input type="checkbox" name="warmfog[]" class="element checkbox medium" id="warmfog" value="{{ getAttributesList[getAttributeMap['warmfog']]['values'][0]['idValue'] }}">

                        <label>{{ getAttributesList[getAttributeMap['higro']]['name'] }}</label>
                        <input type="checkbox" name="higro[]" class="element checkbox medium" id="higro" value="{{ getAttributesList[getAttributeMap['higro']]['values'][0]['idValue'] }}">

                    </div>
                </form>
                <!-- end filters -->
                <div class="col-md-4 col-md-offset-2">
                    <img id="loader" src="{{ asset('bundles/warsztaty/img/loading.gif') }}" style="height:125px; width:auto;margin:0 auto; vertical-align: middle; display: none" />
                </div>
            </div>
            <div class="row results" id="results-container">


            </div>
        </div>
    </div>





{% endblock %}