{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/warsztatyfilter/css/layout.css') }}" />
{% endblock %}

{% block title 'Nawilżacze' %}

    {% block body %}
        {% block content_header %}
        {% endblock %}

        <div class="block">
            {% block content %}{% endblock %}
        </div>




        {% if code is defined %}
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        {% endif %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/warsztatyfilter/js/jquery.switchButton.js') }}"></script>
        <script src="{{ asset('bundles/warsztatyfilter/js/main.js') }}"></script>

    {% endblock %}